<footer class="container-fluid text-center bg-dark fixed-bottom">
  <div class="container">
    <div class="col-md-6 my-3 mx-auto text-white">
        Powered by
        &copy; <%= Time.zone.now.year %> CoffeeBeans
      </div>
  </div>
</footer>