# Add configuration values here.

development:
  host: "http://localhost:3000"
  db_username: root
  db_password: password
  db_name: EventApp_development
  iterable_api_token: "YOUR_ITERABLE-API-TOKEN"

test:
  host: "http://localhost:3000"
  db_username: root
  db_password: password
  db_name: EventApp_test
  iterable_api_token: "YOUR_ITERABLE-API-TOKEN"
